.list {
	padding-left: 60px;
	padding-right: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 0;
}
.items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.text {
	margin: 10px;
}
.delete_btn {
	max-width: 150px;
	font-size: 14px;
	background-color: #ff9c8a;
	border: none;
	text-align: center;
	border-radius: 4px;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

.delete_btn:hover {
	background-color: #ff664b;
	box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}
